#table-preloader {
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0, .4);
	display: none;
	animation: preloaderAnimation 1.9s infinite;
	z-index: 99;

}
#table-preloader:before {
	content:'';
	display: block;
	width: 64px;
	height: 64px;
	border-radius: 50%;
	border: 6px solid #fff;
	border-color: #fff transparent #fff transparent;
	animation: preloaderAnimationRound 1.9s infinite;
	margin: auto;
	left: 0;	
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
}
@keyframes preloaderAnimation {
	0% {
		background: rgba(0,0,0, .1);
	}
	50% {
		background: rgba(0,0,0, .6);
	}
	100% {
		background: rgba(0,0,0, .1);
	}
}
@keyframes preloaderAnimationRound {
	0% {
		transform: rotate(0);
	}
	50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/* map preloader */

.map-preloader {
	position: fixed;
	bottom: 0;
	height: 65px;
	right: 10px;
	transform: scale(.4);
	z-index: 9999;
	display: none;
}
.lds-spinner {
	color: official;
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
}
.lds-spinner div {
	transform-origin: 40px 40px;
	animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
	content: " ";
	display: block;
	position: absolute;
	top: 3px;
	left: 37px;
	width: 6px;
	height: 18px;
	border-radius: 20%;
	background: #333;
}
.lds-spinner div:nth-child(1) {
	transform: rotate(0deg);
	animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
	transform: rotate(30deg);
	animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
	transform: rotate(60deg);
	animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
	transform: rotate(90deg);
	animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
	transform: rotate(120deg);
	animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
	transform: rotate(150deg);
	animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
	transform: rotate(180deg);
	animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
	transform: rotate(210deg);
	animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
	transform: rotate(240deg);
	animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
	transform: rotate(270deg);
	animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
	transform: rotate(300deg);
	animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
	transform: rotate(330deg);
	animation-delay: 0s;
}
@keyframes lds-spinner {
	0% {
			opacity: 1;
	}
	100% {
			opacity: 0;
	}
}



.kapital-preloader {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background: #fff;
	z-index: 1100;
	display: flex;
	align-items: center;
	justify-content: center;
}
.kapital-preloader-img {
	animation: kapitalAnimation 1.9s ease-in-out infinite;
}


@keyframes kapitalAnimation {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.preloader-red  div:after {
	background: red;
}
.preloader-white div:after {
	background: white;
}

.map-preloder-kapital {
	position: relative;
}