
.header {
    height: 100px;
    padding-left: 50px;
    padding-right: 50px;
    border-bottom: 1px solid #EBD9DE;
    background: #fff;
    &-content {
        width: 100%;
    }
}

#icon {
    fill: #DD3B44;
}

.question {
    &-img {
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
    &-text {
        font-size: 20px;
        cursor: pointer;
        position: relative;
        &:before {
            position: absolute;
            content: '';
            width: 10px;
            height: 10px;
            border: 2px solid #ACACAC;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
            right: -25px;
            top: 5px;
        }
    }
}

.logo {
    margin-right: 50px;
}

.widget {
    border-radius: 7px;
    overflow: hidden;
  }
  
  .widget-item {
    width: 100px;
    text-align: center;
  }
  
  .widget-time {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .widget-percent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .widget-item {
    padding: 5px;
  }
  
  .widget-item-green {
    background: #00ff00;
  }
  
  .widget-item-yellow {
    background: yellow;
  }
  
  .widget-item-orange {
    background: orange;
    color: #fff;
  }
  
  .widget-item-red {
    background: red;
    color: #fff;
  }
  